<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">   
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/css/social-circles.min.css">

    <title>twitter downloader</title>

     
  </head>
  <body>
      <main role="main" id="app">
        <% if (!user) { %>
      
			<div class="container container-titulo">
                <div class="row">
                    <div class="col">
                            <div class="jumbotron jumbotron-custom">
                                <h1 class="display-4">GIFS/Videos favoritados do Twitter </h1>
                                <p class="lead">Utilizo a API do Twitter (com todas as suas limitações de acesso gratuítuo) para exibir apenas seus vídeos e gifs em uma lista para fácil download</p>
                                <hr class="my-4">
                                <p>Não gravo nenhuma informação sua.</p>
                                <p>Duvidas ou sugestões, meus contatos estão abaixo</p>
                                <a class="btn btn-primary btn-lg" href="/login" role="button">Logar com sua conta do Twitter</a>
                            </div>
                    </div>
                </div>
            </div>       
        <% } else { %>
			<div class="container" >  
				<div class="row row-tweets">
                        <a v-for="tweet in tweets" v-bind:href="tweet.media_download_url" target="_blank" class="tweet" style="clear: both;">
                            <img v-bind:src="tweet.media_image_url" v-bind:text="tweet.id_str" style="float: left; height: 15em; margin-right: 1%; margin-bottom: 0.5em;">
                        </a>
                </div>
                <div class="row">
                    <button  v-on:click="getOlderTweets" class="btn btn-primary btn-block btn-social btn-lg">
                        load older
                    </button>
                </div>
            </div>

            <div class="box-informacoes alert alert-danger" role="alert">
                    <h4 class="alert-heading">twitter api info</h4>
                    <span>@<%= user.screenName %></span> |
                    <span>limit: {{ limits.limit  }}</span>
                    <span>remaining: {{ limits.remaining  }}</span>
            </div>

            <input type="hidden" id="hidToken" value="<%= token %>">
            <input type="hidden" id="hidUrlBase" value="<%= baseurl %>">
        <% } %>
        
      </main>
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col">
                     <div class="footer-card">
                        <h5>Guilherme Loyola</h5>
                        <h6>Desenvolvedor</h6>
                        <h6><a href="mailto:guilhermeloyola@gmail.com">guilhermeloyola@gmail.com</a></h6>
                        <ol class="my-social-medias">
                                <li><a class="icon-github social-button borderless static" href="http://github.com/eitaguilherme"></a></li>
                                <li><a class="icon-twitter social-button borderless static" href="http://twitter.com/fmzguilherme"></a></li>
                         </ol>
                     </div>
                  </div>
              </div>
          </div>
          
      </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/site.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102160561-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-102160561-3');
    </script>

  </body>
</html>



